<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241088565778-pn722ira3l4ck6kr422a2h5qp98mtj3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241088565778-pn722ira3l4ck6kr422a2h5qp98mtj3i</string>
	<key>API_KEY</key>
	<string>AIzaSyBy7TuWa4Mz7g88A4sLgNhub-AW-GfjH64</string>
	<key>GCM_SENDER_ID</key>
	<string>241088565778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.lmu.befakefromscratch.BeFakef1</string>
	<key>PROJECT_ID</key>
	<string>here-we-go-again-bb5ed</string>
	<key>STORAGE_BUCKET</key>
	<string>here-we-go-again-bb5ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241088565778:ios:4d525642e465aa1fd97ecb</string>
</dict>
</plist>